@keyframes card1-Breath {
    0% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(6vw) translateY(0rem);
    }

    50% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(6vw) translateY(.5rem);
    }

    100% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(6vw) translateY(0rem);
    }
}

@keyframes card2-Breath {
    0% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(2vw) translateY(0rem);
    }

    50% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(2vw) translateY(.5rem);
    }

    100% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(2vw) translateY(0rem);
    }
}

@keyframes card3-Breath {
    0% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(-2vw) translateY(0rem);
    }

    50% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(-2vw) translateY(.5rem);
    }

    100% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(-2vw) translateY(0rem);
    }
}

@keyframes card4-Breath {
    0% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(-6vw) translateY(0rem);
    }

    50% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(-6vw) translateY(.5rem);
    }

    100% {
        transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) translateZ(-6vw) translateY(0rem);
    }
}